.App {
  max-width: 400px;
  width: 90%;
  background: whitesmoke;
  color: #00919c;
  border: 1px solid #00919c;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
}
.header{
  margin-top: 10px;
  text-align: center;
}
.form-control input{
  width: 90%;
  border: 1px solid #00919c;
  height: 5vh;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
.form-control label{
  color: black;
  font-size: 1.3rem;
}
.btns{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.btns .cancel{
    background-color: orange;
    color: whitesmoke;
    border: none;
    font-size: 1rem;
    font-weight: 300;
    padding: 20px 30px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.btns .update {
  background-color: #00919c;
  color: whitesmoke;
  border: none;
  font-size: 1rem;
  font-weight: 300;
  padding: 20px 30px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;

}
.btn{
  background-color: #00919c;
  color: whitesmoke;
  border: none;
  font-size: 1rem;
  font-weight: 300;
  padding: 20px 60px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-right: 15px;
}
.btn:hover{
  background-color: seagreen;

}

.task-container{
  background-color: #00919c;
  color: ghostwhite;
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-transform: capitalize;
  padding:5px;
  margin-bottom: 20px;
}

.task-icons{
  margin-top: 20px;
  /* cursor: pointer; */
}
.task-icons span:hover{
  font-weight: 900;
}
.task-icons span{
  padding-right: 15px;
 
}
.task-icons .trash{
  color: darkred;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: 3s;
  cursor: pointer;
}

.task-icons .pen {
  color: darkslategrey;
  cursor: pointer;
}
.completed{
  text-decoration:2px line-through black;
  text-transform: unset;
  font-size: 15px;
  transition-duration: 3s;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.checked{
  color: springgreen;
}
.non-error-message{
  display: none;
}