.App {
  max-width: 400px;
  width: 90%;
  background: whitesmoke;
  color: #00919c;
  border: 1px solid #00919c;
  margin: auto;
  padding: 10px;
  margin-top: 100px;
}
.header{
  margin-top: 10px;
  text-align: center;
}

.task-container{
  background-color: #00919c;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-transform: capitalize;
  padding: 5px;
  margin-bottom: 20px;
}
.task-icons{
  margin-top: 20px;
}
.task-icons span{
  padding-right: 15px;
}
.task-icons .trash{
  color: darkred;
}

.task-icons .pen {
  color: darkslategrey;
}
.completed{
  text-decoration: line-through;
}
.error-message{
  display: block;
  color: red;
}
.checked{
  color: springgreen;
}
.non-error-message{
  display: none;
}